<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Stand</key>
	<string>dev</string>
	<key>DebugUrlConfig</key>
	<dict>
		<key>CryptoWallet</key>
		<string>https://crypto.auramsg.co/</string>
		<key>JitsiMeet</key>
		<string>https://meet.auramsg.co</string>
		<key>Matrix</key>
		<string>https://matrix.auramsg.co</string>
		<key>API</key>
		<string>https://api.auramsg.co</string>
		<key>API Version</key>
		<string>v0</string>
	</dict>
	<key>ReleaseUrlConfig</key>
	<dict>
		<key>CryptoWallet</key>
		<string>https://crypto.aura.ms/</string>
		<key>JitsiMeet</key>
		<string>https://meet.aura.ms</string>
		<key>Matrix</key>
		<string>https://matrix.aura.ms</string>
		<key>API</key>
		<string>https://api.aura.ms</string>
		<key>API Version</key>
		<string>v0</string>
	</dict>
	<key>AppGroup</key>
	<string>ru.aura.app.test</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Aura</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>CryptoMessenger</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>DevelopmentTeam</key>
	<string>Z123456789</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>baidumap</string>
		<string>comgooglemapsurl</string>
		<string>comgooglemaps</string>
		<string>comgooglemaps-x-callback</string>
		<string>yandexmaps</string>
		<string>yandexmapsurl</string>
		<string>yandexmaps-x-callback</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>This app need to access your calendar events</string>
	<key>NSCameraUsageDescription</key>
	<string>App requires to access your camera to pick photos for profile feed</string>
	<key>NSContactsUsageDescription</key>
	<string>Приложение $(PRODUCT_NAME) запрашивает доступ к контактам</string>
	<key>NSFaceIDUsageDescription</key>
	<string>$(PRODUCT_NAME) Authentication with TouchId or FaceID</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App requires to access your location to send it to friends</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App requires to access your microphone to make calls</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App requires to access your photo library to show image in profile</string>
	<key>Privacy - Location Always Usage Description </key>
	<string>App requires to access your location to share it with friends</string>
	<key>Privacy - Location When in Usage Description</key>
	<string>App requires to access your location to send it to friends</string>
	<key>UIAppFonts</key>
	<array>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-Bold.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
