<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880144282047-lhs53nb989j3kahhmrs4fh92h2gljo1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880144282047-lhs53nb989j3kahhmrs4fh92h2gljo1t</string>
	<key>API_KEY</key>
	<string>AIzaSyBjxzwADkUdbV1MzPO3c2FkME1Fqk2Lp8s</string>
	<key>GCM_SENDER_ID</key>
	<string>880144282047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.aura.app.test</string>
	<key>PROJECT_ID</key>
	<string>aura-messenger-1</string>
	<key>STORAGE_BUCKET</key>
	<string>aura-messenger-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880144282047:ios:03b6fcac90e2658109710a</string>
</dict>
</plist>